:root{
	--highlightColor: rgb(154, 255, 164);
  --textColor0: rgb(212, 212, 212);
  --textColor1: rgb(139, 139, 139);
	--accentColor0: rgb(45, 45, 45);
	--accentColor1: #464646;
	--accentColor2: #676767;
	--backgroundColor: rgb(28, 28, 28);
}
.profileImg{
	filter: brightness(0.85);
}