:root{
	--highlightColor: rgb(154, 255, 164);
  --textColor0: rgb(212, 212, 212);
  --textColor1: rgb(139, 139, 139);
	--accentColor0: rgb(35, 35, 35);
	--accentColor1: #3c3c3c;
	--accentColor2: #676767;
	--backgroundColor: rgb(28, 28, 28);
}
.profileImg{
	filter: brightness(0.85);
}