:root{
  --textColor: rgb(212, 212, 212);
	--accentColor0: #353535;
	--accentColor1: #464646;
	--accentColor2: #676767;
	--backgroundColor: rgb(40, 40, 40);
}
.profileImg{
	filter: brightness(0.85);
}