@media (prefers-color-scheme: light) {
  :root{
    --highlightColor: rgb(154, 255, 164);
    --textColor0: rgb(44, 44, 44);
    --textColor1: rgb(128, 128, 128);
    --accentColor0: #e3e3e3;
    --accentColor1: #dbdbdb;
    --accentColor2: #a4a4a4;
    --backgroundColor: #f1f1f1;
  }
  .profileImg{
    filter: invert(0.8);
  }
}

@media (prefers-color-scheme: dark) {
  :root{
    --highlightColor: rgb(154, 255, 164);
    --textColor0: rgb(212, 212, 212);
    --textColor1: rgb(139, 139, 139);
    --accentColor0: rgb(45, 45, 45);
    --accentColor1: #464646;
    --accentColor2: #676767;
    --backgroundColor: rgb(28, 28, 28);
  }
  .profileImg{
    filter: brightness(0.85);
  }
}